@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

header {
  display: flex;
  flex-direction: row;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: aliceblue !important;
  text-align: center;
}

.header_row1 {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_row2 {
  background-color: #ffbd59;
}

.carrusel-section p {
  color: #fff;
}

.juramento {
  padding: 20px;
  margin: 20px;
}
.boton1 {
  border-color: rgb(223, 144, 203);
}
.enlaces {
  text-align: center !important;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

header ul li {
  margin: 20px;
}

img {
  width: 250px;
}

h2 {
  font-size: 35px;
  color: rgb(83, 83, 160);
  font-family: "VT323", monospace;
}

p {
  font-size: 17px;
  color: rgb(2, 2, 2);
}

.contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 15px 0 15px 0;
  background-color: #ffe7a0;
}

.caja {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.caja img {
  border-radius: 30%;
}

.caja p {
  font-size: 14px;
  font-family: "Lumanosimo", cursive;
}

footer{
  background-color:#ED8728;
  padding: 3px;
}

footer p{
  margin: 20px;
  text-align: center;
}

.accordion{
  padding: 30px;
  margin: 50px; 
}

.container{
  background-color: #a6522b;
  padding: 10px;
}